 <h1>Login</h1>
<form (submit)="onSubmit()">
 <label>Username</label>
 <input type="text" id="loginCred" name="username" [(ngModel)]="username"><br>

 <label>Password</label>
  <input type="password" name="password"  id="passCred" [(ngModel)]="passCred">
<br>

<button type="submit">submit</button>
</form>

<!--<div>
    Colour Preference :
    <input type='text' [(ngModel)]='colour' [style.background]="colour"/>
</div>-->
            
<!--   <button class="btn btn-primary"
             (click)="onLoginClick()">
            Login
            </button>-->






<!-- 

1. how to get value onclick button without form submit?

  -->